.palette{
    border: 1px solid rgb(74, 74, 74);
    min-width: 100px;
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.palette > div{
    border: 1px solid black;
    background-color: rgba(red, green, blue, alpha);
}
